<div
  class="d-flex flex-column align-items-center animate__animated animate__fadeInRight animate__normal"
  #formContainer
>
  <h1>Who are you?</h1>

  <br />

  <div
    class="form__container d-flex flex-column align-items-center"
    [ngClass]="
      responsiveService.isDesktop() || responsiveService.isTablet()
        ? ['my-3', 'p-5', 'bg-lightgray']
        : ['mt-3', 'px-1']
    "
  >
    <div class="d-flex flex-column flex-md-row align-items-center">
      <app-select-button
        iconName="work"
        [isSelected]="selectedRole === 'specialist'"
        (selected)="selectedRole = 'specialist'"
      >
        Specialist
      </app-select-button>
      <app-select-button
        iconName="eye"
        [isSelected]="selectedRole === 'explorer'"
        (selected)="selectedRole = 'explorer'"
        class="select-button--spaced"
      >
        Explorer
      </app-select-button>
    </div>

    <br />

    <p class="text-secondary text-center">
      {{ roleDescription }}
    </p>
  </div>

  <button
    [disabled]="isLoading"
    (click)="setUserRole()"
    *ngIf="selectedRole"
    class="btn btn-primary mt-4 mb-1 px-5 text-white"
    [ngClass]="{
      'p-0': isLoading,
      'py-2': !isLoading,
      'w-50': responsiveService.isDesktop() || responsiveService.isTablet(),
      'w-100': responsiveService.isXSmall
    }"
  >
    <strong [style.display]="!isLoading ? 'initial' : 'none'">Continue</strong>
    <app-spinner-icon
      [style.display]="isLoading ? 'initial' : 'none'"
      [size]="40"
      color="white"
    ></app-spinner-icon>
  </button>
</div>
