<div class="box w-100 h-100 h-md-auto px-3 px-md-5 py-5">
  <h4 class="aiglon d-none d-md-block">Authentication</h4>
  <h1 class="aiglon d-md-none">Login</h1>

  <form [formGroup]="authForm" class="w-100">
    <div class="mt-4">
      <label for="form_auth_email">Email</label>
      <input
        id="form_auth_email"
        type="email"
        class="form-control"
        formControlName="email"
      />
    </div>
    <div class="mt-4">
      <label for="form_auth_password">Password</label>
      <input
        id="form_auth_password"
        type="password"
        class="form-control"
        formControlName="password"
      />
    </div>
    <div class="mt-4">
      <label for="form_auth_confirm_password">Confirm Password</label>
      <input
        id="form_auth_confirm_password"
        type="password"
        class="form-control"
        formControlName="confirmPassword"
      />
    </div>
    <div class="form-check mt-3">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Remember-me
      </label>
    </div>

    <button class="btn btn-primary w-100 mt-5">Autenticate!</button>

    <hr />

    <div>
      <button
        type="button"
        class="btn btn-outline-danger"
        (mouseenter)="iconColors.google = 'white'"
        (mouseleave)="iconColors.google = 'red'"
      >
        <app-google-icon
          [size]="20"
          [color]="iconColors.google"
        ></app-google-icon>
      </button>
      <button
        type="button"
        class="btn btn-outline-primary"
        (mouseenter)="iconColors.facebook = 'white'"
        (mouseleave)="iconColors.facebook = '#4267B2'"
      >
        <app-linkedin-icon
          [size]="20"
          [color]="iconColors.facebook"
        ></app-linkedin-icon>
      </button>
      <button
        type="button"
        class="btn btn-outline-primary"
        (mouseenter)="iconColors.linkedin = 'white'"
        (mouseleave)="iconColors.linkedin = '#0e76a8'"
      >
        <app-google-icon
          [size]="20"
          [color]="iconColors.linkedin"
        ></app-google-icon>
      </button>
    </div>
  </form>
</div>
