<div
  class="d-flex align-items-center justify-content-center w-100 h-100 h-md-auto px-3 px-md-5 py-5 animate__animated animate__fadeInLeft"
>
  <form
    [formGroup]="form"
    class="w-75 h-100 d-flex flex-column justify-content-center"
    (submit)="validateForm($event)"
  >
    <div
      [style.display]="!isSignUpPage() ? 'visible' : 'none'"
      class="animate__animated animate__fadeInLeft animate__fast mb-3"
    >
      <h2 class="aiglon-bold d-none d-md-block">Login</h2>
      <h1 class="aiglon-bold d-md-none">Login</h1>
    </div>

    <div
      [style.display]="isSignUpPage() ? 'visible' : 'none'"
      class="animate__animated animate__fadeInLeft animate__fast mb-3"
    >
      <h2 class="aiglon-bold d-none d-md-block">Sign Up</h2>
      <h1 class="aiglon-bold d-md-none">Sign Up</h1>
    </div>

    <div class="animate__animated animate__fadeInLeft animate__normal">
      <div class="mt-4">
        <label for="form_auth_username">Username</label>
        <input
          id="form_auth_username"
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': (isSubmitted || username.touched) && username.invalid,
            'is-valid':
              isSignUpPage() &&
              (isSubmitted || username.touched) &&
              !username.invalid
          }"
          formControlName="username"
        />
        <app-form-field-error
          [isFormSubmited]="isSubmitted"
          [control]="username"
          [message]="usernameValidationMessage"
        ></app-form-field-error>
      </div>
      <div class="mt-2">
        <label for="form_auth_password">Password</label>
        <input
          id="form_auth_password"
          type="password"
          maxlength="25"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              ((isSubmitted || password.touched) && password.invalid) ||
              (isSignUpPage() &&
                (isSubmitted || confirmPassword.touched) &&
                confirmPassword.invalid),
            'is-valid':
              isSignUpPage() &&
              (isSubmitted || password.touched) &&
              !password.invalid &&
              (isSubmitted || confirmPassword.touched) &&
              !confirmPassword.invalid
          }"
          formControlName="password"
        />
        <app-form-field-error
          [isFormSubmited]="isSubmitted"
          [controls]="[password, confirmPassword]"
          [message]="passwordValidationMessage"
        ></app-form-field-error>
      </div>
      <div [style.display]="isSignUpPage() ? 'visible' : 'none'" class="mt-2">
        <label for="form_auth_confirm_password">Confirm Password</label>
        <input
          id="form_auth_confirm_password"
          type="password"
          maxlength="25"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              (isSubmitted || confirmPassword.touched) &&
              (password.invalid || confirmPassword.invalid),
            'is-valid':
              (isSubmitted || confirmPassword.touched) &&
              confirmPassword.value.length &&
              !confirmPassword.invalid
          }"
          formControlName="confirmPassword"
        />
        <app-form-field-error
          [isFormSubmited]="isSubmitted"
          [controls]="[confirmPassword, password]"
          message="Passwords doesn't match!"
        ></app-form-field-error>
      </div>
      <div
        [style.display]="!isSignUpPage() ? 'visible' : 'none'"
        class="form-check mt-2"
      >
        <input
          class="form-check-input cursor-pointer"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label cursor-pointer" for="flexCheckDefault">
          Remember-me
        </label>
      </div>
    </div>

    <div class="animate__animated animate__fadeInLeft animate__medium">
      <button
        [disabled]="isLoading"
        type="submit"
        class="btn btn-primary w-100 mt-4 mb-1"
        [ngClass]="{ 'p-0': isLoading, 'py-2': !isLoading }"
      >
        <strong [style.display]="isLoading ? 'none' : 'initial'">
          {{ isSignUpPage() ? "Sign Up" : "Login" }}
        </strong>
        <app-spinner-icon
          [style.display]="!isLoading ? 'none' : 'initial'"
          [size]="40"
          color="white"
        ></app-spinner-icon>
      </button>
      <div class="d-flex justify-content-end mt-2">
        <a
          [style.display]="!isSignUpPage() ? 'visible' : 'none'"
          class="text-secondary cursor-pointer"
        >
          Forgot Password?
        </a>
      </div>
    </div>

    <div class="animate__animated animate__fadeInLeft animate__light-slow">
      <hr />

      <div class="d-flex justify-content-center align-items-center mt-4">
        <button
          type="button"
          class="btn btn-outline-danger"
          (mouseenter)="iconColors.google = 'white'"
          (mouseleave)="iconColors.google = googleColor"
        >
          <app-google-icon
            [size]="20"
            [color]="iconColors.google"
          ></app-google-icon>
        </button>
        <button
          type="button"
          class="btn btn-outline-primary mx-3"
          (mouseenter)="iconColors.linkedin = 'white'"
          (mouseleave)="iconColors.linkedin = linkedinColor"
        >
          <app-linkedin-icon
            [size]="20"
            [color]="iconColors.linkedin"
          ></app-linkedin-icon>
        </button>
        <button
          type="button"
          class="btn btn-outline-primary"
          (mouseenter)="iconColors.facebook = 'white'"
          (mouseleave)="iconColors.facebook = facebookColor"
        >
          <app-facebook-icon
            [size]="20"
            [color]="iconColors.facebook"
          ></app-facebook-icon>
        </button>
      </div>

      <p
        [style.display]="isSignUpPage() ? 'visible' : 'none'"
        class="mt-4 text-center"
      >
        Already an user? <a routerLink="/auth">LOGIN</a>
      </p>
      <p
        [style.display]="!isSignUpPage() ? 'visible' : 'none'"
        class="mt-4 text-center"
      >
        Need an account? <a routerLink="/auth/sign-up">SIGN UP</a>
      </p>
    </div>
  </form>
</div>
