.st0 {
  fill: none;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st1 {
  fill: none;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st3 {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.st4 {
  fill: none;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 3;
}
