@font-face {
  font-family: "Aiglon";
  src: url("/src/assets/fonts/AiglonDrame.otf") format("opentype"); // Open Type Font
  src: url("/src/assets/fonts/AiglonDrame.ttf") format("truetype"); // Safari, Android, IOS
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aiglon-bold";
  src: url("/src/assets/fonts/AiglonDrame.otf") format("opentype"); // Open Type Font
  src: url("/src/assets/fonts/AiglonDrame.ttf") format("truetype"); // Safari, Android, IOS
  font-weight: bold;
  font-style: bold;
}

$font-family: "Aiglon",
sans-serif;

.aiglon {
  font-family: $font-family;
}

.aiglon {
  font-family: $font-family !important;
}

.aiglon-bold {
  font-family: "Aiglon-bold", sans-serif;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-12-important {
  font-size: 12px !important;
}

.fs-14-important {
  font-size: 14px !important;
}

.fs-15-important {
  font-size: 15px !important;
}

.fs-18-important {
  font-size: 18px !important;
}

.fs-20-important {
  font-size: 20px !important;
}
