@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@mixin card {
  border-radius: 8px !important;

  -webkit-box-shadow: 2px 1px 10px 0px rgba(143, 143, 143, 1) !important;
  -moz-box-shadow: 2px 1px 10px 0px rgba(143, 143, 143, 1) !important;
  box-shadow: 2px 1px 10px 0px rgba(143, 143, 143, 1) !important;

  background: white !important;
}
