<div
  *ngIf="responsiveService.isDesktop()"
  class="h-100 d-none d-md-flex justify-content-center align-items-center"
>
  <div class="row no-spacing w-100">
    <div class="col-md d-none d-md-block">
      <img
        src="assets/images/flat-banner-no-bg.png"
        class="img-fluid auth-banner"
        alt="login banner"
      />
    </div>
    <div class="col-md-4 no-spacing px-md-4">
      <app-form-authentication
        [page]="currentPage"
        (handleSubmit)="handleSubmit($event)"
      ></app-form-authentication>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<app-form-authentication
  *ngIf="!responsiveService.isDesktop()"
  [page]="currentPage"
  class="d-md-none"
  (handleSubmit)="handleSubmit($event)"
></app-form-authentication>
